<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/search" method="GET">
        <input type="text" name="rest" id="">
        <input type="text" name="dish" id="">
        <button type="reset">Search</button>
        <button type="submit">Search</button>
    </form>
</body>
</html>