<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div>
        <h1><%= returnedItem.id %></h1>
        <h1><%= returnedItem.author %></h1>
        <h1><%= returnedItem.comment %></h1>
        <a href="/blogs">back</a>
    </div>
    
</body>
</html>